<?xml version="1.0"?>
<config>
    <modules>
        <ConversionBug_Productbyzipcode>
            <version>0.1.0</version>
        </ConversionBug_Productbyzipcode>
    </modules>
    <frontend>
        <routers>
            <cbproductbyzipcode>
                <use>standard</use>
                <args>
                    <module>ConversionBug_Productbyzipcode</module>
                    <frontName>productbyzipcode</frontName>
                </args>
            </cbproductbyzipcode>
        </routers>
        <layout>
            <updates>
                <cbproductbyzipcode>
                    <file>cb_productbyzipcode.xml</file>
                </cbproductbyzipcode>
            </updates>
        </layout>
        <translate>
            <modules>
                <ConversionBug_Productbyzipcode>
                    <files>
                        <default>ConversionBug_Productbyzipcode.csv</default>
                    </files>
                </ConversionBug_Productbyzipcode>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <cbproductbyzipcode>
                <class>ConversionBug_Productbyzipcode_Helper</class>
            </cbproductbyzipcode>
        </helpers>
        <blocks>
            <cbproductbyzipcode>
                <class>ConversionBug_Productbyzipcode_Block</class>
            </cbproductbyzipcode>
        </blocks>
        <resources>
            <cbproductbyzipcode_setup>
                <setup>
                    <module>ConversionBug_Productbyzipcode</module>
                    <class>ConversionBug_Productbyzipcode_Model_Resource_Setup</class>
                </setup>
            </cbproductbyzipcode_setup>
        </resources>
    </global>
</config>